/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require decidim
 *= //require_tree .
 *= require_tree ./autoinclude
 *= require_self
 */
 .title-bar{
    background: white;
}
.main-nav__link a {
    color: white;
}
.topbar__search input, .topbar__search input:focus{
    border:2px solid #d04d9c;
}
.topbar__search svg{
    color:#d04d9c;
}
* {
    font-family: 'LiberGrotesqueFamily-bold'; 
}
.topbar__dropmenu > ul > li > a {
    color:black;
}
.topbar__edit__link a {
    color:black;
}
body{
    color:#ca3827;
}
.topbar__notifications .icon, .topbar__conversations .icon{
    fill:black;
}
.sign-up-link{
    color:black;
}
.topbar__user__login a{
    color:black;
}